body
{
    color:forestgreen;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#cabecera
{
    background: slateblue;
    
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}

#container
{
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
}

#container h1
{
    font-size: 20px;
}